:root {
    --blue: #95c7c2;
    --pink: #f490b9;
    --lightblue: #bee4e7;
    --orange: #f49f51;
    --orange: 217, 170, 89;
    --tan: #f7ccad;
    --lightpink: #ffd4e5;
}
#logo_link {
   

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: white;
    flex-direction: row-reverse;

}
.about-me, .about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
}